.text-center
  %h3
    = @checkout_configuration.name
  %h4
    = @checkout_configuration.description
  - if local_assigns[:show_product_description]
    %p
      = @checkout_configuration.product_description
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .panel.panel-primary
      .panel-heading
        Pay by Bongloy Checkout
      .panel-body
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            = simple_form_for(@charge, :html => {:id => "new_charge_checkout_js", :data => {:bongloy_checkout_form => "true"}}) do |f|
              = render("form_default_fields", :f => f)
              %script{:src => @checkout_configuration.checkout_js_url, :class => "bongloy-button", :data => {:key => @checkout_configuration.publishable_key, :image => @checkout_configuration.image_url, :name => @checkout_configuration.name, :description => @checkout_configuration.description, :label => @checkout_configuration.label, :amount => @checkout_configuration.amount_cents, :currency => @checkout_configuration.currency}}
            %p
              Press the blue button

          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            #checkout_qr_code
              - url = checkout_url(@checkout_configuration.checkout_url_options)
              = link_to("#") do
                = @checkout_configuration.qr_code(url).as_svg(:offset => 5, :module_size => 3).html_safe
              %p
                Click, Touch or Scan the QR Code

.row#payment_form
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .panel.panel-success
      .panel-heading
        Fill out the Payment Form
      .panel-body
        = simple_form_for(@charge, :html => {:autocomplete => "on", :data => {:payment_form => true}}) do |f|
          = render("form_default_fields", :f => f)
          #card_number.form-group
            %label.control-label{:for => "cc_number"}
              = fa_icon("credit-card", :text => "Card Number")
            %input#cc_number.input-lg.form-control.cc-number{:type => "text", :pattern => "\\d*", :autocomplete => "cc-number", :data => {:payment_card_number => true}}
            %p.help-block
          #card_expiry.form-group
            %label.control-label{:for => "cc_exp"}
              = fa_icon("calendar", :text => "Expires MM/YY")
            %input#cc_exp.input-lg.form-control.cc-exp{:type => "text", :pattern => "\\d*", :autocomplete => "cc-exp", :data => {:payment_card_exp => true}}
          #card_cvc.form-group
            %label.control-label{:for => "cc_cvc"}
              = fa_icon("lock", :text => "Security Code / PIN")
            %input#cc_cvc.input-lg.form-control.cc-cvc{:type => "password", :pattern => "\\d*", :autocomplete => "off", :data => {:payment_card_cvc => true}}
          #submit_payment_form.form-group.btn-group
            = f.button(:submit, @checkout_configuration.label, :class => "btn-success")
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    = render "sample_cards"
