<%= form_with(model: tax_vehicle, local: true) do |form| %>
  <% if tax_vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tax_vehicle.errors.count, "error") %> prohibited this tax_vehicle from being saved:</h2>

      <ul>
      <% tax_vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plate_number %>
    <%= form.text_field :plate_number %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :engine_number %>
    <%= form.text_field :engine_number %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :power %>
    <%= form.text_field :power %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :en_name %>
    <%= form.text_field :en_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.text_field :birth_date %>
  </div>

  <div class="field">
    <%= form.label :id_number %>
    <%= form.text_field :id_number %>
  </div>

  <div class="field">
    <%= form.label :home %>
    <%= form.text_field :home %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :vilage %>
    <%= form.text_field :vilage %>
  </div>

  <div class="field">
    <%= form.label :commune %>
    <%= form.text_field :commune %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :reference_number %>
    <%= form.text_field :reference_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
