%h1 Vehicle tax payment demo
= simple_form_for @tax_vehicle, wrapper: :horizontal_form do |f|
  %hr
  %h3 Vehicle information
  .row
    .col-12.col-md-6.col-lg-4
      = f.input :plate_number
    .col-12.col-md-6.col-lg-4
      = f.input :brand
    .col-12.col-md-6.col-lg-4
      = f.input :type, collection: Tax::Vehicle::TYPES, prompt: 'Please select vihecle type'
    .col-12.col-md-6.col-lg-4
      = f.input :color
    .col-12.col-md-6.col-lg-4
      = f.input :engine_number
    .col-12.col-md-6.col-lg-4
      = f.input :year
    .col-12.col-md-6.col-lg-4
      = f.input :power

  %hr
  %h3 Owner information
  .row
    .col-12.col-md-6.col-lg-4
      = f.input :name
    .col-12.col-md-6.col-lg-4
      = f.input :en_name
    .col-12.col-md-6.col-lg-4
      = f.input :gender,  collection: Tax::Vehicle::GENDERS, prompt: 'Please select your gender'
    .col-12.col-md-6.col-lg-4
      = f.input :birth_date, start_year: Time.now.year - 50, wrapper: :horizontal_multi_select
    .col-12.col-md-6.col-lg-4
      = f.input :id_number
    .col-12.col-md-6.col-lg-4
      = f.input :home
    .col-12.col-md-6.col-lg-4
      = f.input :street
    .col-12.col-md-6.col-lg-4
      = f.input :vilage
    .col-12.col-md-6.col-lg-4
      = f.input :commune
    .col-12.col-md-6.col-lg-4
      = f.input :district
    .col-12.col-md-6.col-lg-4
      = f.input :city
    .col-12.col-md-6.col-lg-4
      = f.input :email
    .col-12.col-md-6.col-lg-4
      = f.input :phone_number
  .form-group
    = f.button :submit, class: 'btn btn-primary'
