%h1 Vehicle tax payment demo
= simple_form_for @tax_vehicle, wrapper: :horizontal_form do |f|
  %hr
  %h3 Vehicle information
  .row
    .col-12.col-md-6.col-lg-4
      = f.input :plate_number
    .col-12.col-md-6.col-lg-4
      = f.input :brand
    .col-12.col-md-6.col-lg-4
      = f.input :type
    .col-12.col-md-6.col-lg-4
      = f.input :color
    .col-12.col-md-6.col-lg-4
      = f.input :engine_number
    .col-12.col-md-6.col-lg-4
      = f.input :year
    .col-12.col-md-6.col-lg-4
      = f.input :power

  %hr
  %h3 Owner information
  .row
    .col-12.col-md-6.col-lg-4
      = f.input :name
    .col-12.col-md-6.col-lg-4
      = f.input :en_name
    .col-12.col-md-6.col-lg-4
      = f.input :gender
    .col-12.col-md-6.col-lg-4
      = f.input :birth_date
    .col-12.col-md-6.col-lg-4
      = f.input :id_number
    .col-12.col-md-6.col-lg-4
      = f.input :home
    .col-12.col-md-6.col-lg-4
      = f.input :street
    .col-12.col-md-6.col-lg-4
      = f.input :vilage
    .col-12.col-md-6.col-lg-4
      = f.input :commune
    .col-12.col-md-6.col-lg-4
      = f.input :district
    .col-12.col-md-6.col-lg-4
      = f.input :city
    .col-12.col-md-6.col-lg-4
      = f.input :email
    .col-12.col-md-6.col-lg-4
      = f.input :phone_number
  .form-group
    = f.button :submit, class: 'btn btn-primary'
