<p id="notice"><%= notice %></p>

<p>
  <strong>Plate number:</strong>
  <%= @tax_vehicle.plate_number %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @tax_vehicle.brand %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tax_vehicle.type %>
</p>

<p>
  <strong>Color:</strong>
  <%= @tax_vehicle.color %>
</p>

<p>
  <strong>Engine number:</strong>
  <%= @tax_vehicle.engine_number %>
</p>

<p>
  <strong>Year:</strong>
  <%= @tax_vehicle.year %>
</p>

<p>
  <strong>Power:</strong>
  <%= @tax_vehicle.power %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tax_vehicle.name %>
</p>

<p>
  <strong>En name:</strong>
  <%= @tax_vehicle.en_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @tax_vehicle.gender %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @tax_vehicle.birth_date %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @tax_vehicle.id_number %>
</p>

<p>
  <strong>Home:</strong>
  <%= @tax_vehicle.home %>
</p>

<p>
  <strong>Street:</strong>
  <%= @tax_vehicle.street %>
</p>

<p>
  <strong>Vilage:</strong>
  <%= @tax_vehicle.vilage %>
</p>

<p>
  <strong>Commune:</strong>
  <%= @tax_vehicle.commune %>
</p>

<p>
  <strong>District:</strong>
  <%= @tax_vehicle.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @tax_vehicle.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tax_vehicle.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @tax_vehicle.phone_number %>
</p>

<p>
  <strong>Reference number:</strong>
  <%= @tax_vehicle.reference_number %>
</p>

<%= link_to 'Edit', edit_tax_vehicle_path(@tax_vehicle) %> |
<%= link_to 'Back', tax_vehicles_path %>
