.row
  .row#payment_form
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .container
        .card.card-shadow
          %h1.title
            Checkout
          %hr
          = react_component("CreditCard")
          = simple_form_for(:new_charge, url: charges_path, :html => {:autocomplete => "on", :data => { name: "paymentForm" }, :id => "charge_form"}) do |f|
            - if charge.errors.any?
              %p.col-md-offset-2.col-md-8.alert.alert-danger{:role => "alert", data: { name: "errorMessages" }}
                = charge.errors.full_messages.to_sentence
            .row.col-md-12
              %h4.heading Order Summary
              .col-md-2
                = f.input :currency, label: false, input_html: { value: "USD", readonly: true, class: "currency" }
              .col-md-10
                = f.input :amount, placeholder: "Amount", label: false, input_html: { class: "amount"}
            .row.col-md-12
              %h4.heading Credit card information
              = f.input :token, as: :hidden, input_html: { data: { name: "cardToken" } }
              = f.input :card_number, placeholder: "Card Number", label: false, input_html: { name: nil, id: nil, data: { name: "cardNumber" } }
              = f.input :card_name, placeholder: "Name on card", label: false, input_html: { name: nil, id: nil, data: { name: "cardName" } }
            .row.col-md-3
              = f.input :exp_month, placeholder: "Expiry Month", label: false, input_html: { name: nil, id: nil, data: { name: "expMonth"} }
            .col-md-3
              = f.input :exp_year, placeholder: "Expiry Year", label: false, input_html: { name: nil, id: nil, data: { name: "expYear" } }
            .row.col-md-12
              = f.input :cvc, placeholder: "CVC", label: false, input_html: { name: nil, id: nil, data: { name: "cvc" } }

            #submit_payment_form.col-md-12.form-group.btn-group
              = f.button(:submit, "Buy", :class => "btn-success")
            %input#focused{:type => "hidden"}

  .row#sample_cards
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .container
        = render "sample_cards"
  = javascript_include_tag "charges"
