.row
  .col-md-6
    .row#payment_form
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .panel.panel-success
          .panel-heading
            Fill out the Payment Form
          .panel-body
            = simple_form_for(:new_charge, url: charges_path, :html => {:autocomplete => "on", :data => { name: "paymentForm" }}) do |f|
              - if charge.errors.any?
                %p.alert.alert-danger{:role => "alert", data: { name: "errorMessages" }}
                  = charge.errors.full_messages.to_sentence

              = f.input :token, as: :hidden, input_html: { data: { name: "cardToken" } }
              = f.input :card_number, placeholder: "Card Number", label: false, input_html: { name: nil, id: nil, data: { name: "cardNumber" } }
              = f.input :exp_month, placeholder: "Expiry Month", label: false, input_html: { name: nil, id: nil, data: { name: "expMonth" } }
              = f.input :exp_year, placeholder: "Expiry Year", label: false, input_html: { name: nil, id: nil, data: { name: "expYear" } }
              = f.input :cvc, placeholder: "CVC", label: false, input_html: { name: nil, id: nil, data: { name: "cvc" } }
              = f.input :currency, label: false, input_html: { value: "USD", readonly: true }
              = f.input :amount, placeholder: "Amount", label: false
              #submit_payment_form.form-group.btn-group
                = f.button(:submit, "Buy", :class => "btn-success")

  .col-md-12
    .row#caredit_card
      = react_component("CreditCard")
    .row#sample_cards
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        = render "sample_cards"
  = javascript_include_tag "charges"
  :javascript
    docReady(function() {
      var changeEvent = new Event('change');
      var cardObj = document.querySelector('[data-name="cardNumber"]');
      var cardTarget = document.getElementsByName("number")[0];
      var nameTarget = document.getElementsByName("name")[0];
      var cvcTarget = document.getElementsByName("cvc")[0];
      cardObj.addEventListener("onKeyPress",processCardNumber);
      cardObj.addEventListener("onKeyUp",processCardNumber);
      cardObj.addEventListener("input",processCardNumber);
      cardObj.addEventListener("change",processCardNumber);

      function processCardNumber(){
        console.log(cardObj.value);
        cardTarget.value = cardObj.value;
        cardTarget.dispatchEvent(new Event('focus'));
        cardTarget.dispatchEvent(new Event('change'));
      }
    });
