.row
  .col-md-offset-4.col-sm-offset-2.col-md-4.col-sm-4
    .row#payment_form.card-container
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .text-center
          %h3 Fill out the Payment Form
          %hr
          = simple_form_for(:new_charge, url: charges_path, :html => {:autocomplete => "on", :data => { name: "paymentForm" }}) do |f|
            = f.input :token, as: :hidden, input_html: { data: { name: "cardToken" } }
            .card-wrapper
            .fields-wraper
              %p.alert.alert-danger{:role => "alert", data: { name: "errorMessages" }, :style => "display: #{charge.errors.any? ? 'block' : 'none'};"}
                - if charge.errors.any?
                  = charge.errors.full_messages.to_sentence
              .row
                .col-md-12
                  = f.input :card_number, placeholder: "Card Number", label: false, input_html: { name: nil, id: nil, data: { name: "cardNumber" } }
                  = f.input :card_name, placeholder: "Name on card", label: false, input_html: { name: nil, id: nil, data: { name: "cardName" } }
              .row
                .col-md-6.col-sm-6.col-xs-6
                  = f.input :expiry, placeholder: "Expiry", label: false, input_html: { name: nil, id: nil, data: { name: "expiry" } }
                -#
                  = f.input :exp_month, placeholder: "Expiry Month", label: false, input_html: { name: nil, id: nil, data: { name: "expMonth" } }
                  = f.input :exp_year, placeholder: "Expiry Year", label: false, input_html: { name: nil, id: nil, data: { name: "expYear" } }
                .col-md-6.col-sm-6.col-xs-6
                  = f.input :cvc, placeholder: "CVC", label: false, input_html: { name: nil, id: nil, data: { name: "cvc" } }
              .row.h-separator
              .row
                .col-md-9.col-sm-9.col-xs-9
                  = f.input :amount, placeholder: "Amount", label: false
                .col-md-3.col-sm-3.col-xs-3
                  = f.input :currency, label: false, input_html: { value: "USD", readonly: true }
              #submit_payment_form.form-group
                = f.button(:submit, "Buy", :class => "btn-success form-control")

  .col-md-offset-2.col-md-8
    .row#sample_cards
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        = render "sample_cards"
    = javascript_include_tag "charges"
