.row
  .col-md-6
    .row#payment_form
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .panel.panel-success
          .panel-heading
            Fill out the Payment Form
          .panel-body
            = simple_form_for(:charge, :html => {:autocomplete => "on", :data => { name: "paymentForm" }}) do |f|
              - if @charge.errors.any?
                %p.alert.alert-danger{:role => "alert", data: { name: "errorMessages" }}
                  = @charge.errors.full_messages.to_sentence

              = f.input :token, as: :hidden, input_html: { data: { name: "cardToken" } }
              = f.input :card_number, input_html: { data: { name: "cardNumber" } }
              = f.input :exp_month, input_html: { data: { name: "expMonth" } }
              = f.input :exp_year, input_html: { data: { name: "expYear" } }
              = f.input :cvc, input_html: { data: { name: "cvc" } }
              = f.input :currency, input_html: { value: "USD", readonly: true }
              = f.input :amount
              #submit_payment_form.form-group.btn-group
                = f.button(:submit, @checkout_configuration.label, :class => "btn-success")
    .row#sample_cards
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        = render "sample_cards"
