!!!
%html
  - title = "Bongloy Demo"
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title
      = title
    = javascript_include_tag("https://js.bongloy.com/v3")
    = tag(:meta, name: "bongloy-publishable-key", content: checkout_configuration.publishable_key)
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{ href: "/" }
        = title
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{:href => "/"}
              Demo
              %span.sr-only (current)
          %li.nav-item
            = link_to("Official Documentation", "https://www.bongloy.com/documentation", target: "_blank", class: "nav-link")
          %li.nav-item
            = link_to("Source Code", "https://github.com/bongloy/bongloy-demo", target: "_blank", class: "nav-link")

    .container
      .row
        .col
          - if flash.present?
            .alert.alert-success{ role: "alert" }
              = flash[:notice]
          = yield
